<%= form_for(carbon) do |f| %>
  <% if carbon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carbon.errors.count, "error") %> prohibited this carbon from being saved:</h2>

      <ul>
      <% carbon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dataCarbon %>
    <%= f.text_field :dataCarbon %>
  </div>

  <div class="field">
    <%= f.label :node_id %>
    <%= f.text_field :node_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
