<p id="notice"><%= notice %></p>

<h1>Carbons</h1>

<table>
  <thead>
    <tr>
      <th>Datacarbon</th>
      <th>Node</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carbons.each do |carbon| %>
      <tr>
        <td><%= carbon.dataCarbon %></td>
        <td><%= carbon.node %></td>
        <td><%= link_to 'Show', carbon %></td>
        <td><%= link_to 'Edit', edit_carbon_path(carbon) %></td>
        <td><%= link_to 'Destroy', carbon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carbon', new_carbon_path %>
