<p id="notice"><%= notice %></p>

<p>
  <strong>Dataozone:</strong>
  <%= @ozone.dataOzone %>
</p>

<p>
  <strong>Node:</strong>
  <%= @ozone.node %>
</p>

<%= link_to 'Edit', edit_ozone_path(@ozone) %> |
<%= link_to 'Back', ozones_path %>
