<h1 class = "fondoTitle air"><%= link_to 'Editar Nodo', edit_node_path %></h1> 

<p class = "plaza"> <%= @node.name %> </p> 

<%= render 'form', node: @node %>

<%= link_to '', @node, class:"botonShowEditar"  %> 
<%= link_to '', nodes_path, class:"posicionBackEdit" %>

