<html class = "FondoBlanco">

<p id="notice"><%= notice %></p>

<h1 >AirRescue</h1>
   <br>
   <br>
   <br>

    
    <div class="row tam">
        <% @nodes.each do |node| %>
        
            <%= link_to node do %>
            
            
                <% if user_signed_in? %>
                    <style>
                        .imagen<%=node.id%>{
	                    margin: 0px;
	                    background-image: url(<%=node.cover.url(:medium) %> );
	                    background-size: 100%;
	                    border: 3px solid black;
}
                    </style>
                    
                    <div class="ancho imagen<%=node.id%> letraNodo "> <br> <br> <br> <%= node.name %> 
                        <br> <br> <%= node.data %> <br> <br> <br>
        
                            <%= link_to '', edit_node_path(node), :class => "editar" %> 
                        <br> 
                        

                            <%= link_to '', node, 
                            method: :delete, data: { confirm: 'Are you sure?' } %>
                            
                    <div class="field">
                         
                    </div>  
                            
                            
                        
                        
                    </div>
                  <%else%>
                      <div class="ancho imagenNodo letraNodo"><%= node.name %> <br> <%= node.data %> <br>  </div>
                <%end%>
            <%end%>

        <% end %>
        </div>
        <br>
        <br>
    
    
      <% if user_signed_in? %>
        <%= link_to "cerrar sesion", destroy_user_session_path, method: :delete, class: "cerrarSesion" %>
        <%= link_to '', new_node_path, class: "agregarNodo" %>
         <br>
      <%else%>
        <%= link_to "Iniciar sesion", new_user_session_path, class: "cerrarSesion" %>
      <%end%>

<br>
<hr />



<div class="contactanos">
    <div>E-mail: airescue@gmail.com
        </br>
        Telefono: 4322334 ext: 453 &#160
        Whatsapp: 3217166950
        </br>
        Direccion: Crr 29 CC # 37-09 
        </br>
        Universidad EAFIT
    </div>
</div>



</html>