<html class = "FondoBlanco">

<p id="notice"><%= notice %></p>

<div class="encabezado">
    <p class = "tituloNodos"><%= link_to "AiRescue", root_path, style: 'color:#FFFFFF;', class: "tituloNodos"%></p>
    <% if user_signed_in? %>
        <%= link_to "cerrar sesion", destroy_user_session_path, method: :delete, style: 'color:#FFFFFF;', class: "cerrarSesion" %>
        <%= link_to '', new_node_path, class: "agregarNodo" %>
        <br>
    <%else%>
        <%= link_to "Iniciar sesion", new_user_session_path, style: 'color:#FFFFFF;', class: "cerrarSesion" %>
    <%end%>
</div>
<br>
<br>
<br>

<div class = "vacio">
</div>


<div align="center">
    <div class="container-fluid ">
        <div class="row">
            <% @nodes.each do |node| %>
            <div class="col-sm-3 padding">
                <div class="box">
                    <img class="imagenNodo" src="<%=node.cover.url(:medium) %>">
                    <div class="overlay">
				    </div>
                </div>
                
                <br>
                <b>Nombre:</b>  <%= node.name %>
                <br>
                <b>Valor:</b> <%= node.data %>
                <br>
                <br>
                <%= link_to 'ver', node_path(node), style: 'color:#FFFFFF;', class:"btn botonesNodos" %>
                <% if user_signed_in? %>
                    <%= link_to 'Editar', edit_node_path(node), style: 'color:#FFFFFF;', class:"btn botonesNodos" %>
                    <%= link_to 'Borrar', node, method: :delete, style: 'color:#FFFFFF;', data: { confirm: 'Are you sure?' }, class:"btn botonesNodos" %>
                <%end%> 
            </div>
            <% end %>
        </div>
    </div>
</div>

   
<br>
<br>
<hr />

<div class="contactanos">
    <div>E-mail: airescue@gmail.com
        </br>
        Telefono: 4322334 ext: 453 &#160
        Whatsapp: 3217166950
        </br>
        Direccion: Crr 29 CC # 37-09 
        </br>
        Universidad EAFIT
    </div>
</div>
</html>