<html class="FondoBlanco fondoTitle">
    
<div class="encabezado">
    <p class = "tituloNodos"><%= link_to "AiRescue", root_path, style: 'color:#FFFFFF;', class: "tituloNodos"%></p>
    <% if user_signed_in? %>
        <%= link_to '', edit_node_path(@node) , class:"btn editShow", title: "Editar Nodo"%>   
    <%end%>

<div class="container">
  <button type="button" class="btn btn-lg botonInfo" data-toggle="modal" data-target="#myModal">''</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog2 modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"  class="close" data-dismiss="modal" title="Información Nodo">&times;</button>
          <h4 class="modal-title"><%= @node.name %></h4>
        </div>
        <div class="modal-body">
            <div class= "row tam">
                <div class="negrita">&#160 &#160 &#160 &#160 Dirección:&#160 &#160 &#160 &#160 &#160 &#160</div>
                <div><%= @node.address %></div>
            </div>    
            <div class= "row tam">
                <div class="negrita">&#160 &#160 &#160 &#160 Descripción: &#160 &#160 &#160 </div>
                <div><%= @node.description %></div>
            </div>
            <div class= "row tam">
                <div class="negrita">&#160 &#160 &#160 &#160 Dato: &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 </div>
                <div> <%= @node.data %></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<div class="">
    <p class="var">
      	<%= link_to "Variables", node_path, style: 'color:#FFFFFF;'%>
    </p>
                
    <div class="dropdown est">
        <button class="btn dropEst" id="menu1" data-toggle="dropdown">Estadisticas
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" href="<%=week_graphic_path(@node)%>">Estadisticas semanales</a></li>
            <li role="presentation"><a role="menuitem" href="<%=day_graphic_path(@node)%>">Estadisticas diarias</a></li>
        </ul>
    </div>
    
</div>

<h2 class = "plazaShow" title="Nodo actual">
    <%= @node.name %>
</h2>
    
<p id="notice"><%= notice %></p>
</br>
</br>
</br>

  
  <button type="button" class="btn botonICA" data-toggle="modal" data-target="#myModal1" title = "Índice de la Calidad del Aire">ICA</button>
    <div id="myModal1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body imageICA">
          </div>
        </div>
      </div>
    </div>
  
</div>

<div class="dioxido">
       Dióxido de Carbono
</div>

<div class="oval-half-red1">
    <div class="letraVar">
        <% unless @dioxide.nil? %>
            <%= @dioxide.dataDioxide %>  ppm
        <%end%>
        <% if @dioxide.nil? %>
            <h> 0 ppm </h>
        <%end%>
        
        
    </div>
</div>

<div class="monoxido">
      Monóxido de Carbono
</div>      
<div class="oval-half-red2">
    <div class="letraVar">
        <% unless @monoxide.nil? %>
            <%= @monoxide.dataMonoxide %> ppm
        <%end%>
        <% if @monoxide.nil? %>
            <h> 0 ppm </h>
        <%end%>
        
    </div>
</div>

<div class="ozono1">
       Ozono
</div>

<div class="oval-half-red3">
    <div class="letraVar">
        <% unless @ozone.nil? %>
            <%= @ozone.dataOzone %> ppm
        <%end%>
        
        <% if @ozone.nil? %>
            <h> 0 ppm </h>
        <%end%>
    </div>
</div>
    
<div class="humedad1">
       Humedad
</div>
<div class="oval-half-red4">
    <div class="letraVar">
        <% unless @humed.nil? %>
            <%= @humed.dataHumidity %> %
        <%end%>
        <% if @humed.nil? %>
            <h> 0 % </h>
        <%end%>
    </div>
</div>

<div class="temperatura">
       Temperatura
</div>

<div class="oval-half-red5">
    <div class="letraVar">
        <% unless @temp.nil? %>
            <%= @temp.dateTemperature %>  °C
        <%end%>
        <% if @temp.nil? %>
            <h> 0 °C </h>
        <%end%>
        
    </div>
</div>

<div class="hcho">
       Nitrogeno
</div>
<div class="oval-half-red6">
    <div class="letraVar">
        <% unless @nitrogen.nil? %>
            <%= @nitrogen.dataNitrogen %>  ppm
        <%end%>
        
        <% if @nitrogen.nil? %>
            <h> ppm </h>
        <%end%>
    </div>
</div>




</html>
