<html class="FondoBlanco fondoTitle">

<meta http-equiv="refresh" content="5"> 
  <head>
  </head>
<body>
  	<header>
  		<nav class="nav large-padding">
  			<ul class="list-unstyled">
  				<ol class="list-unstyled">
  					<h1 class = "no-margin air col-md"
             >
            <%= link_to "AiRescue", root_path%>
            </h1>
  				</ol>
          </ol>
  				<ol class="var list-unstyled">
  					<%= link_to "Variables", node_path%>
  				</ol>
  				<ol class="est list-unstyled">
  					<%= link_to "Estadisticas", root_path%>			
  			</ul>
  		</nav>
      <h2 class = "plaza">
          <%= @node.name %>
      </h2>
    
  	</header>
    <%= yield %>
  </body>


<p id="notice"><%= notice %></p>


</br>
</br>
</br>

<div class="container colorFondoBoton">
  <button type="button" class="btn btn-lg botonInfo" data-toggle="modal" data-target="#myModal">''</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= @node.name %></h4>
        </div>
        <div class="modal-body">
            <div class= "row tam">
                <div class="negrita">&#160 &#160 &#160 &#160 &#160 Direccion: &#160 &#160 &#160 &#160 &#160 &#160 &#160</div>
                <div><%= @node.address %></div>
            </div>    
            <div class= "row tam">
                <div class="negrita">&#160 &#160 &#160 &#160 &#160 Descripcion: &#160 &#160 &#160 &#160 &#160 </div>
                <div><%= @node.description %></div>
            </div>
            <div class= "row tam">
                <div class="negrita">&#160 &#160 &#160 &#160 &#160 Dato: &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 </div>
                <div> <%= @node.data %></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dioxido">
       Dióxido de Carbono
</div>

<div class="oval-half-red1">
    <div class="letraVar">
        <%= @dioxide.dataDioxide %>  ppm
    </div>
</div>

<div class="monoxido">
      Monóxido de Carbono
</div>      
<div class="oval-half-red2">
    <div class="letraVar">
        <%= @monoxide.dataMonoxide %> ppm
    </div>
</div>

<div class="ozono1">
       Ozono
</div>

<div class="oval-half-red3">
    <div class="letraVar">
        <%= @ozone.dataOzone %> m
    </div>
</div>

<div class="humedad1">
       Humedad
</div>
<div class="oval-half-red4">
    <div class="letraVar">
        <%= @humed.dataHumidity %> %
    </div>
</div>

<div class="temperatura">
       Temperatura
</div>

<div class="oval-half-red5">
    <div class="letraVar">
        <%= @temp.dateTemperature %>  °C
    </div>
</div>

<div class="hcho">
       HCHO
</div>
<div class="oval-half-red6">
    <div class="letraVar">
        <%= @temp.dateTemperature %>  ppm
    </div>
</div>



<% if user_signed_in? %>
    <%= link_to 'Edit', edit_node_path(@node) , class:"btn btn-lg btn-success botonedit"%>
    <%= link_to 'Back', nodes_path, class:"btn btn-lg btn-success botonback" %>
<%else%>
    <%= link_to 'Back', nodes_path, class:"btn btn-lg btn-success botonback" %>
<%end%>

</html>

