<p id="notice"><%= notice %></p>

<h1>Nitrogens</h1>

<table>
  <thead>
    <tr>
      <th>Datanitrogen</th>
      <th>Node</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nitrogens.each do |nitrogen| %>
      <tr>
        <td><%= nitrogen.dataNitrogen %></td>
        <td><%= nitrogen.node %></td>
        <td><%= link_to 'Show', nitrogen %></td>
        <td><%= link_to 'Edit', edit_nitrogen_path(nitrogen) %></td>
        <td><%= link_to 'Destroy', nitrogen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nitrogen', new_nitrogen_path %>
