<p id="notice"><%= notice %></p>

<p>
  <strong>Datanitrogen:</strong>
  <%= @nitrogen.dataNitrogen %>
</p>

<p>
  <strong>Node:</strong>
  <%= @nitrogen.node %>
</p>

<%= link_to 'Edit', edit_nitrogen_path(@nitrogen) %> |
<%= link_to 'Back', nitrogens_path %>
