<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawOther);

      // draws dayli graphics
      function drawChart() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'Grados');
        data.addRows([
          <% @temperatures.each do |temperature|%>
          ['<%= temperature.created_at.strftime("%H:00")%>', <%= temperature.dateTemperature.to_int%>],
          <%end%>
        ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= Node.find_by(id: Temperature.where(node_id:1)).name%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Grados'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_hora_temp'));
        chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawOther() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','Grados');
        data.addRows([
           <% @temperatures.each do |temperature|%>
          ['<%= temperature.created_at.strftime("%a")%>', <%= temperature.dateTemperature.to_int%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= Node.find_by(id: Temperature.where(node_id:1)).name%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Grados'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_temp'));
          chart.draw(data, options);
      }
      
    </script>
  </head>

  <body>
    <h3>Temperatura</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_hora_temp"></div></td>
        <td><div id="chart_week_temp"></div></td>
      </tr>
    </table>
  </body>
</html>