<html>
  <head>
    <!--Load the AJAX API-->
    <div class="encabezado">
      <p class = "tituloNodos"><%= link_to "AiRescue", root_path, style: 'color:#FFFFFF;', class: "tituloNodos"%></p>
      <% if user_signed_in? %>
        <%= link_to "cerrar sesion", destroy_user_session_path, method: :delete, style: 'color:#FFFFFF;', class: "cerrarSesion" %>
        <%= link_to '', new_node_path, class: "agregarNodo" %>
        <br>
    <%else%>
        <%= link_to "Iniciar sesion", new_user_session_path, style: 'color:#FFFFFF;', class: "cerrarSesion" %>
    <%end%>
  </div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawTempWeek);
      google.charts.setOnLoadCallback(drawCarbon_dioxidesWeek);
      google.charts.setOnLoadCallback(drawcarbon_monoxidesWeek);
      google.charts.setOnLoadCallback(drawHumedWeek);
      google.charts.setOnLoadCallback(drawOzoneWeek);
      google.charts.setOnLoadCallback(drawNitroWeek);
      

    
      // draws weekly graphics
      function drawTempWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','Grados');
        data.addRows([
           <% @temp.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dateTemperature.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Grados'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_temp'));
          chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawCarbon_dioxidesWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','ppm');
        data.addRows([
           <% @dioxide.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataDioxide.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'ppm'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_Carbon_dioxides'));
          chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawcarbon_monoxidesWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','ppm');
        data.addRows([
          <% @monoxide.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataMonoxide.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'ppm'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_carbon_monoxides'));
          chart.draw(data, options);
      }
      
      
      // draws weekly graphics
      function drawHumedWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','procentaje');
        data.addRows([
           <% @humed.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataHumidity.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Porcentaje (%)'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_Humed'));
          chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawOzoneWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','Grados');
        data.addRows([
           <% @ozone.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataOzone.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'm / m^3 '}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_Ozone'));
          chart.draw(data, options);
      }
      
      function drawNitroWeek() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'Grados');
        data.addRows([
          <% @nitrogen.each do |value|%>
          ['<%= value.created_at.strftime("%H:00")%>', <%= value.dataNitrogen.to_i%>],
          <%end%>
          ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Grados °C'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_week_nitro'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <h3 class = "temGraf">Temperatura</h3>
    <table class="columns">
      <tr>
        <td>  <div id="chart_week_temp" class= "grafica1"></div> </td>
      </tr>
    </table>
    <h3 class = "dioGraf">Dióxido de carbono</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_week_Carbon_dioxides" class= "grafica2"></div></td>
      </tr>
    </table>
    <h3 class = "monoGraf">Monóxido de carbono</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_week_carbon_monoxides" class= "grafica3"></div></td>
      </tr>
    </table>
    <h3 class = "humGraf">Humedad</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_week_Humed" class= "grafica4"></div></td>
      </tr>
    </table>
    <h3 class = "ozoGraf">Ozono</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_week_Ozone" class= "grafica5"></div></td>
      </tr>
    </table>
    <h3 class = "nitroGraf">Nitrogeno</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_week_nitro" class= "grafica6"></div></td>
      </tr>
    </table>
  </body>
</html>