<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawTempDay);
    
      google.charts.setOnLoadCallback(drawCarbon_dioxidesDay);
      
      google.charts.setOnLoadCallback(drawcarbon_monoxidesDay);
      
      google.charts.setOnLoadCallback(drawHumedDay);
      
      google.charts.setOnLoadCallback(drawOzonesDay);
      

      // draws dayli graphics
      function drawTempDay() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'Grados');
        data.addRows([
          <% @temp.each do |value|%>
          ['<%= value.created_at.strftime("%H:00")%>', <%= value.dateTemperature.to_i%>],
          <%end%>
          ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Grados'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_hora_temp'));
        chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawTempWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','Grados');
        data.addRows([
           <% @temp.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dateTemperature.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Grados'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_temp'));
          chart.draw(data, options);
      }
      
       // draws dayli graphics
      function drawCarbon_dioxidesDay() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'ppm');
        data.addRows([
          <% @dioxide.each do |value|%>
          ['<%= value.created_at.strftime("%H:00")%>', <%= value.dataDioxide.to_i%>],
          <%end%>
          ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'ppm'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_hora_Carbon_dioxides'));
        chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawCarbon_dioxidesWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','ppm');
        data.addRows([
           <% @dioxide.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataDioxide.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'ppm'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_Carbon_dioxides'));
          chart.draw(data, options);
      }
      
      function drawcarbon_monoxidesDay() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'ppm');
        data.addRows([
          <% @monoxide.each do |value|%>
          ['<%= value.created_at.strftime("%H:00")%>', <%= value.dataMonoxide.to_i%>],
          <%end%>
          ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'ppm'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_hora_carbon_monoxides'));
        chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawcarbon_monoxidesWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','ppm');
        data.addRows([
          <% @monoxide.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataMonoxide.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'ppm'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_carbon_monoxides'));
          chart.draw(data, options);
      }
      
      function drawHumedDay() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'procentaje');
        data.addRows([
          <% @humed.each do |value|%>
          ['<%= value.created_at.strftime("%H:00")%>', <%= value.dataHumidity.to_i%>],
          <%end%>
          ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Porcentaje (%)'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_hora_Humed'));
        chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawHumedWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','procentaje');
        data.addRows([
           <% @humed.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataHumidity.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'Porcentaje (%)'}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_Humed'));
          chart.draw(data, options);
      }
      
      function drawOzonesDay() { 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'HoraDelDia');
        data.addColumn('number', 'Grados');
        data.addRows([
          <% @ozone.each do |value|%>
          ['<%= value.created_at.strftime("%H:00")%>', <%= value.dataOzone.to_i%>],
          <%end%>
          ]);
        // Set chart options
        var options = {'title':'Reporte diario Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'm / m^3'}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart (document.getElementById('chart_hora_ozone'));
        chart.draw(data, options);
      }
      
      // draws weekly graphics
      function drawOzoneWeek() {
        var data = new google.visualization.DataTable();
        data.addColumn('string','Dia');
        data.addColumn('number','Grados');
        data.addRows([
           <% @ozone.each do |value|%>
          ['<%= value.created_at.strftime("%a")%>', <%= value.dataOzone.to_i%>],
          <%end%>
        ]);
          
        var options = {'title':'Reporte Semanal Nodo <%= @nombre%>',
                       'width':400,
                       'height':300,
                       hAxis: {title: 'Tiempo'},
                       vAxis: {title: 'm / m^3 '}};
                       
        var chart = new google.visualization.LineChart(document.getElementById('chart_week_Ozone'));
          chart.draw(data, options);
      }
      
    </script>
  </head>

  <body>
    <h3>Temperatura</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_hora_temp"></div></td>
        <td><div id="chart_week_temp"></div></td>
      </tr>
    </table>
    <h3>Dióxido de carbono</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_hora_Carbon_dioxides"></div></td>
        <td><div id="chart_week_Carbon_dioxides"></div></td>
      </tr>
    </table>
    <h3>Monóxido de carbono</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_hora_carbon_monoxides"></div></td>
        <td><div id="chart_week_carbon_monoxides"></div></td>
      </tr>
    </table>
    <h3>Humedad</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_hora_Humed"></div></td>
        <td><div id="chart_week_Humed"></div></td>
      </tr>
    </table>
    <h3>Ozono</h3>
    <table class="columns">
      <tr>
        <td><div id="chart_hora_ozone"></div></td>
        <td><div id="chart_week_Ozone"></div></td>
      </tr>
    </table>
  </body>
</html>