<p id="notice"><%= notice %></p>

<p>
  <strong>Datadioxide:</strong>
  <%= @carbon_dioxide.dataDioxide %>
</p>

<p>
  <strong>Node:</strong>
  <%= @carbon_dioxide.node %>
</p>

<%= link_to 'Edit', edit_carbon_dioxide_path(@carbon_dioxide) %> |
<%= link_to 'Back', carbon_dioxides_path %>
