<p id="notice"><%= notice %></p>

<p>
  <strong>Datadust:</strong>
  <%= @dust.dataDust %>
</p>

<p>
  <strong>Node:</strong>
  <%= @dust.node %>
</p>

<%= link_to 'Edit', edit_dust_path(@dust) %> |
<%= link_to 'Back', dusts_path %>
